@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  --primary-text: #0D1B2A;
  --secondary-text: #1B263B;

  --primary-blue: #1D3557;
  --secondary-blue: #457B9D;
  --tertiary-blue: #A8DADC;
  --primary-white: #F7F7FF;
  --primary-red: #E63946;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--primary-white);
  color: var(--primary-text);
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  @apply rounded;
  border: 1px solid #ccc;
}

.btn {
  @apply rounded;
  background-color: var(--primary-blue);
  color: white;
  padding: 8px 16px;
}